#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}
html,
body,
div,
span {
  padding: 0;
  margin: 0;
}
@import "vant/lib/index.css";
@import './common.scss';